<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->exclude('kirby')
    ->exclude('assets')
    ->exclude('node_modules')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
    ])
    ->setFinder($finder)
;